/*login css starts here*/

@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
h2 {
    background-color: #FEFFED;
    padding: 30px 35px;
    margin: -10px -50px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    font-family: 'Arimo', sans-serif;
}

hr {
    margin: 10px -50px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-bottom: 40px;
}

.loginText {
    font-size: larger;
    font-family: 'Poppins', sans-serif;
    color: blanchedalmond;
}

.newUser {
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    color: blanchedalmond;
    margin-left: 50px;
}

#form_id {
    margin: 20px auto;
}

div.container {
    width: 900px;
    height: 610px;
    margin: 35px auto;
    font-family: 'Raleway', sans-serif;
}

div.main {
    width: 300px;
    padding: 10px 50px 25px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: raleway;
    float: left;
    margin: 100px 30%;
    background-color: black;
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

input[type=text],
input[type=password] {
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 5px;
    border: 2px solid #ccc;
    color: #1b1515;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
}

label {
    color: #464646;
    font-size: 14px;
    font-weight: bold;
}

center {
    font-size: 32px;
}

.note {
    color: red;
}

.valid {
    color: green;
}

.back {
    text-decoration: none;
    border: 1px solid rgb(0, 143, 255);
    background-color: rgb(0, 214, 255);
    padding: 3px 20px;
    border-radius: 2px;
    color: black;
}

input[type=button] {
    font-size: 16px;
    background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid #e5a900;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
    padding: 10px 0;
    outline: none;
}

input[type=button]:hover {
    background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

input[type=checkbox] {
    margin-bottom: 25px;
}


/*LOGIN CSS ENDS HERE


/* FROM HERE ONWARDS ITS SIGNUP PAGE CSS CODE */

.form-style-10 {
    width: 450px;
    padding: 30px;
    margin: 40px auto;
    background: #FFF;
    border-radius: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

.form-style-10 .inner-wrap {
    padding: 20px;
    background: linear-gradient(#bbe0d5 5%, #a9ebfb 100%);
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
}

.form-style-10 h1 {
    background: rgb(0, 0, 0);
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
}

.form-style-10 h1>span {
    display: block;
    margin-top: 2px;
    font: 13px Arial, Helvetica, sans-serif;
}

.form-style-10 label {
    display: block;
    font: 13px Arial, Helvetica, sans-serif;
    color: #888;
    margin-bottom: 15px;
}

.form-style-10 input[type="text"],
.form-style-10 input[type="date"],
.form-style-10 input[type="datetime"],
.form-style-10 input[type="email"],
.form-style-10 input[type="number"],
.form-style-10 input[type="search"],
.form-style-10 input[type="time"],
.form-style-10 input[type="url"],
.form-style-10 input[type="password"],
.form-style-10 textarea,
.form-style-10 select {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.form-style-10 .section {
    font: normal 20px 'Bitter', serif;
    color: #2A88AD;
    margin-bottom: 5px;
}

.form-style-10 .section span {
    background: rgb(2, 2, 2);
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    margin-left: -45px;
    color: #fff;
    margin-top: -3px;
}

.form-style-10 input[type="button"],
.form-style-10 input[type="submit"] {
    background: rgb(15, 15, 15);
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
    font-size: 15px;
}

.form-style-10 input[type="button"]:hover,
.form-style-10 input[type="submit"]:hover {
    background: #2A6881;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}

.form-style-10 .privacy-policy {
    float: right;
    width: 250px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #4D4D4D;
    margin-top: 10px;
    text-align: right;
}

form:invalid input[type="submit"] {
    background-color: red
}


/*SIGNUP CSS ENDS HERE

/* //Nav bar start here */

.nav-wrapper {
    background-color: coral;
}


/*File uploads */

.widthAdder {
    padding: 50px;
    width: 500px;
}

#passportPic {
    margin: 20px 20%;
    display: inline-block;
    border: none;
    color: darkviolet;
}